<div class="container justify-content-md-center">
  <nav aria-label="Page navigation example">
    <ul class="pagination">
      <li class="page-item" [ngClass]="{ disabled : currentPage === 0 }">
        <a class="page-link" (click)="preImage()">Previous</a>
      </li>
      <ng-container *appTimes="images.length,let i = index;">
        <li class="page-item" [ngClass]="{ active: i === currentPage }">
          <a class="page-link" (click)="reloadImage(i)">{{ i + 1 }}</a>
        </li>
      </ng-container>
      <li class="page-item" [ngClass]="{ disabled : currentPage === images.length-1 }">
        <a class="page-link"
        (click)="nextImage()">Next</a>
      </li>
    </ul>
  </nav>
  <br />
  <div class="col-md-6">
    <div [appClass]="'red'"> {{ imageTitle }}</div>
    <br />
    <img [src]="imageUrl" alt="" />
  </div>
</div>
